body{ 
    font-family: 'Courier New';
    font-size: 20px;
    font-variant: small-caps;
    font-style: italic;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{color: blueviolet;}
p{
   line-height: 20px;
   color: rgb(14, 14, 13);
  }
a {
    text-decoration: none;
    color: black;
}